* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --black: #000000;
    --white: #ffffff;
    --golden: #ffd700;
    --watermelon: #c63a4f;
    --lightGray: #e4e4e4;
    --darkGray: #bcbbbb;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}
